@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

*,
*::before,
*::after {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html {
  font-family: Roboto, Arial, sans-serif;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.button {
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 0.5em;
  overflow: hidden;
  transition: background-color 150ms ease-in-out;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.icon {
  width: 21px;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}

/* .roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
} */

@media (max-width: 500px) {
  html {
    font-size: 13px;
  }

  /* .icon {
    width: 18px;
  } */
}

@media (max-width: 700px) {
  html {
    font-size: 14px;
  }

  /* .icon {
    width: 18px;
  } */
}
